body {
    background-color: darkslategray;
    font-family: sans-serif;
    color: aliceblue;
}
h2 {
    color:aliceblue;
    margin-left: 40px;
    font-weight: bold;
}

blockquote {
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
